.view{
    transform:scale(.9);
    transform:translateY(10px);
    opacity:0;
    transition: all 1s;
}

.appear {
    transform:scale(1);
    transform:translateY(0px);
    opacity:1;
}

.step::after {
 content: ""; 
  display: block;
  position: absolute;
  width: 70%;  
  height: 2px; 
  background-color: gray; 
  top: 10px;  
  left: 60px;  
}

.step{
    position: relative;
}
.join{
    position: relative;
}

.join::before{
    position: absolute;
    display: block;
    width: 400%;
    border: 1px;
    height: 1px;
    background-color: gray; 
    content: "";
    top: 25px;
    left: 100px;
}

.join::after{
    position: absolute;
    display: block;
    width: 400%;
    border: 1px;
    height: 1px;
    background-color: gray; 
    content: "";
    top: 25px;
    right: 100px;
}

/* .join::after {
  content: ""; 
  position: absolute;
  width: 90%;  
  height: 2px; 
  background-color: gray; 
  top: 10px;  
  left: 60px;  
} */

.skills{
    display: grid;
     /* grid-template-columns: auto auto auto auto; */
     
     /* justify-items: center; */
     /* align-items: center; */
     /* /* grid-template-columns: auto auto auto auto; */
     grid-template-columns: repeat(4,1fr);
     
}

@media (max-width:768px) {
    .skills{
        grid-template-columns: repeat(2,1fr);
    }
}


@media (max-width:480px) {
    .skills{
        grid-template-columns: repeat(1,1fr);
    }
}

.bgimage {
  /* background: url("http://3.bp.blogspot.com/_EqZzf-l7OCg/TNmdtcyGBZI/AAAAAAAAAD8/KD5Y23c24go/s1600/homer-simpson-1280x1024.jpg") no-repeat; */
  width: 400px;
  height: 400px;
  display: block;
  border: 1px solid;
  /* border-radius: 200px; */
  background-size: cover;
}